
.item-title {
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
    font-family: 'Roboto';
    font-weight: 500;
}

.info-title {
    text-align: end;
    margin-left: 10px;
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
    font-family: 'Roboto';
    font-weight: 500;
}

.item-label {
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
}

.info-label {
    text-align: end;
    margin-left: 10px;
    margin-right: 5px;
   /* padding-top: 20px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: pre-wrap;
    font-family: 'Roboto';
    font-weight: 100;
}

.item-icon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
